<title>母親節留言版</title>
<body>
	 <div class="col-md-4">
          <div class="mainDiv">
             <h3>留言</h3> <!--h1-> h6-->
              <!--method: POST /GET -->
              <form action="mothers_day/writing" method="GET" novalidate="novalidate">
              {% csrf_token %}
                  <table class="table table-striped table-bordered table-hover table-condensed">
                      <label>用戶名:</label><br /><input type="text" name="author" /> <br /><br />
                      <label>標  題:</label><br /><input type="text" name="title" /><br /><br />
                      <label>内  容:</label><br /><textarea name="content"  style="resize: none;"> </textarea><br /><br />
                  </table>
                  <input class="btn btn-success" type="submit" value="留言"/>
              </form>
          </div>
        </div>
        
      </div>
    </div>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-md-8">
          <div class="mainDiv">
                {% for m in mg %}

<table class="table">
    <tr>
        <th>UserName</th>
          <td>{{ m.author}}</td>
    </tr>

    <tr>
        <th>Title</th>
          <td>{{ m.title}}</td>
    </tr>

    <tr>
        <th>Content</th>
          <td>{{ m.content}}</td>
    </tr>

    <tr>
        <th>Publish</th>
          <td>{{ m.publish}}</td>
    </tr>
    {% endfor %}

         </div>
        </div>
  </body>